
@font-face {
font-family: RobotoCondensed;
src: url(assets/RobotoCondensed-Light.ttf);
font-weight: 800;
}

@font-face {
font-family: EconomicaBold;
src: url(assets/economica-bold.ttf);
}

body {
text-align: center;
font-size: 20px;
padding: 2.5%;
font-family: 'RobotoCondensed';
}

h1, h2, h3, h4, h5 {
font-family: 'EconomicaBold';
}

#root{
  text-align: center;
  font-size: 18px;
  padding: 5.5%;
  font-family: 'RobotoCondensed';
  background: url("./assets/portfolio-backgrounds.png") no-repeat;
  background-size: cover;
}

#profile{
  border-radius:100px;
  width: 150px;
  height: 200px;
}

#list
{
  text-align: left;
}
